.under__banner___title {
    font-family: 'Pacifico', cursive;
    color: #8d0606;
    font-size: 3.1875rem;
}

@media screen and (min-width: 0) {
    .under__banner___title{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .under__banner___title{
        font-size: 3.1875rem;
    }
}